APP_ENV=production
APP_KEY=base64:kgk/4DW1vEVy7aEvet5FPp5un6PIGe/so8H0mvoUtW0=
APP_DEBUG=false
APP_LOG_LEVEL=debug
APP_URL={{ crater_app_url }}

DB_CONNECTION=mysql
DB_HOST={{ crater_db_host }}
DB_PORT={{ crater_db_port }}
DB_DATABASE={{ crater_db_name }}
DB_USERNAME={{ crater_db_user }}
DB_PASSWORD={{ crater_db_pass }}
